<div class="navbar-container">
  <nav
   [ngClass]="{
    ' shadow-md  backdrop-blur-md bg-black/60 text-black':isScrolled(),
    'bg-transparent text-white ': !isScrolled() ,
  } " 
   class=" fixed w-full z-30  top-0 start-0  py-2">


   
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-0">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo.svg" class="h-22" alt="Flowbite Logo" />
      </a>

      <!-- Mobile Menu Button -->
      <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center p-0 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-primary focus:outline-none focus:ring-primary"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>

      <!-- MENU -->
      <div class="hidden w-full  grow md:flex md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col ms-6 p-4 md:p-0 mt-0 rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-5 md:border-0 md:bg-neutral-primary">

          <li>
          <a routerLink="/home"  routerLinkActive=" active-link "
              class="block py-2 px-3 text-md hover:text-primary  text-white md:p-0 cursor-pointer">Home</a>
          </li>

          <li>
            <a routerLink="/about" routerLinkActive=" active-link "
              class="block py-2 px-3 text-md md:p-0 hover:text-primary text-white cursor-pointer">About Us</a>
          </li>

          <li>
            <a routerLink="/service" routerLinkActive=" active-link "
              class="block py-2 px-3 text-md md:p-0 hover:text-primary text-white cursor-pointer">Service</a>
          </li>

          <li>
            <a routerLink="/faq" routerLinkActive=" active-link "
              class="block py-2 px-3 text-md md:p-0 hover:text-primary text-white cursor-pointer uppercase ">faq</a>
          </li>
        </ul>


        <div class="flex md:space-x-3 ms-auto  space-x-1 rtl:space-x-reverse items-center justify-center mt-4">

          <a href="#" class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-600 hover:bg-white hover:text-gray-600 text-white  shadow-md">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#" class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-600 hover:bg-white hover:text-gray-600 text-white shadow-md">
            <i class="fa-brands fa-tiktok"></i>
          </a>

          <a href="#" class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-600 hover:bg-white hover:text-gray-600 text-white shadow-md">
            <i class="fa-brands fa-yelp"></i>
          </a>

          <a href="#" class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-600 hover:bg-white hover:text-gray-600 text-white shadow-md">
            <i class="fa-solid fa-thumbtack"></i>
          </a>

          <a (click)="callNow()"  href="#" class="flex items-center justify-center px-4 h-9 rounded-full bg-primary hover:bg-white hover:text-primary text-white shadow-md">
            <i class="fa-solid fa-phone"></i>
            <span class="ms-2">+1 (317) 943-9599</span>
          </a>

        </div>


      </div>
    </div>
  </nav>

   <!-- <nav class="bg-neutral-primary mt-19 border-b bg-white border-gray-100 hidden md:block">
    <div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-1">
      <h1 class="flex items-center space-x-4 rtl:space-x-reverse text-textblack  font-bold text-2xl">
        <span class="text-2xl font-bold text-primary m-0 pe-1">24/7 </span><span class="m-0 p-0"></span><span class="m-0 p-0 text-gray-700">  Emergency Service</span>
      </h1>

      <div class="w-full md:block md:w-auto  ">
        <ul class="flex space-x-3 rtl:space-x-reverse items-center   justify-center ">
          <li>
            <a href="#"
              class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-700 hover:bg-white/10 hover:text-gray-700 text-white    shadow-md transition-all duration-300 ">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>

          <li>
            <a href="#"
              class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-700 hover:bg-white/10 hover:text-gray-700 text-white shadow-md transition-all duration-300 ">
              <i class="fa-brands fa-tiktok  "></i>
            </a>
          </li>

          <li>
            <a href="#"
              class="w-9 h-9 flex items-center justify-center rounded-full bg-gray-700 hover:bg-white/10 hover:text-gray-700 text-white    shadow-md transition-all duration-300 ">
              <i class="fa-brands fa-yelp  "></i>
            </a>
          </li>

          <li>
            <a href="#"
              class="w-9 h-9 flex items-center justify-center rounded-full   bg-gray-700 hover:bg-white/10 hover:text-gray-700 text-white shadow-md transition-all duration-300 ">
              <i class="fa-solid fa-thumbtack"></i>
            </a>
          </li>

          <li>
            <a (click)="callNow()" href="#"
              class="w-50 h-9 flex items-center justify-center rounded-full bg-primary   hover:bg-white/10 hover:text-primary text-white   shadow-md transition-all duration-300 ">
              <i class="fa-solid fa-phone"></i>
              <span class="ms-2">+1 (317) 943-9599</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  -->
</div>