.decor-line .line {
  position: relative;
  height: 2px;
  width: 110px;
  background-color: var(--color-primary);
}
:host ::ng-deep .owl-dot span {
  width: 14px;
  height: 14px;

    transform: translateY(-40px);



}

:host ::ng-deep .owl-dots .owl-dot:nth-child(n+3) {
  display: none !important;
}
